@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
   background-image: url(img/banner.jpg);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.contract{

    width: 100%;
    height: 400px;
    border: 1px solid red;
}
.coast{
    width: 100%;
    /* border: 1px solid navy; */
    border-radius:10px ;
    background-color: rgb(167, 220, 255);
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    box-shadow: 0 4px 8px 0 rgb(81, 77, 77), 0 6px 20px 0 rgb(255, 255, 255);
}
.navbar{
   border-radius: 10px;
   /* background: linear-gradient(90deg, rgba(169, 41, 114, 0.866) 0%, rgba(13, 0, 255, 0.55) 100%); */
background-color: rgba(255, 255, 255, 0.521);
box-shadow: 0 4px 8px 0 rgb(164, 202, 236), 0 6px 20px 0 rgb(209, 185, 185);
}
.banner{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(255, 255, 255);
    margin-bottom: 20px;
}
.card{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(255, 255, 255);
}





/* reserve file

.wrapper{
    display: flex;
    flex-flow:row wrap;
    text-align: center;
}
.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;

}
.header{
    background-color: brown;
    height: 120px;
}
.footer{
    background-color: rgb(145, 114, 174);
    height: 80px;

}
.main{
    text-align: left;
    background-color: chartreuse;
    height: 300px;
    font-size: 20px;
}
.aside{
    background-color: cornflowerblue;
}
@media all and(min-width: 800px) {
    .main{
        flex:3;
    }
.aside1{
    order: 1;
}
.aside2{
    order: 2;
}
.main{
    order: 2;
}
.footer{
    order: 4;
}

}
*/
@media all and (min-width:600px) {
    .man{
       width: 400px;
    }
}
 